.Board-Wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Middle-Board{
    width: min(500px);
    height: min(500px);
    display: block;
    aspect-ratio: 1/1;
    align-items: center;
    margin: 80px;
}