.Endpage{
    color:white;
    background-color: black;
    background-image: url('/Knight-Endpage-light.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:100px 100px;
    height: 100vh;
}
.Endpage-logo{
    text-align: center;
}
.Endpage-links{
    text-align:center;
    text-decoration: solid;
}
.Endpage-links ul :hover{
    color:aqua;
    cursor:pointer;
}